*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  all: revert;
}

:where([hidden]) {
  display: none;
}

body {
  font-family: "Unbounded", cursive;
  font-size: 16px;
  font-weight: 300;
}

/* BUTTON */
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  outline: none;
  line-height: 42px;
  background-color: #f0f0f0;
  border: 1px solid #b6b6b6;
  border-radius: 0 6px 6px 0;
  padding: 7px 16px;
  color: #565656;
  cursor: pointer;
}

/* INPUT */
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 42px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  border: 1px solid #b6b6b6;
  border-right: none;
  border-radius: 6px 0 0 6px;
  padding: 7px 16px;
  color: #565656;
}

.input-group {
  display: flex;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  background-color: #343a40;
  padding: 12px 24px;
  color: #ffffff;
}

header h1 {
  font-size: 32px;
  font-weight: 500;
}

/* CONTAINER */
.container {
  padding: 48px 24px;
}

.container h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}
